# Nuxt dev/build outputs
# We track .output for cPanel deployment
!.output/
.nuxt/
.nitro/
.cache/
dist/

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Video files
public/video/fondo-home.mp4
.output/public/video/fondo-home.mp4